<div class="py-4 px-8" style="background: #f8f3e9;">

	<div class="my-32 mx-4 sm:mx-16" style="border-bottom: 1px solid #beb2aa;"></div>

	<div id="contact" style="max-width: 1200px;" class="mx-auto">
		<div class="text-center mx-2 sm:mx-8">
			<div class="mt-4 mb-0">
				
				<img src="/wedding/_assets/contact_footer.svg" alt="CONTACT" class="mx-auto h-4 sm:h-6 my-4" >

				<p class="notoserifjp text-center" >
					お問い合わせ
				</p>
			</div>

			<div class="mb-4 mt-8">
				<p class="notoserifjp text-center" style="font-size: 1.5rem;">
					ホテルメトロポリタン盛岡<br class="sm:hidden">ブライダル
				</p>
			</div>

			<div class="sm:grid grid-cols-3 gap-y-4 gap-x-8">
				<div><a class="text-sm sm:text-base p-2 sm:p-4 text-center block mb-2" href="/wedding/faq/" style="background: #ddd8d7;">よくあるご質問</a></div>
				<div><a class="text-sm sm:text-base p-2 sm:p-4 text-center block mb-2" href="https://morioka.metropolitan.jp/contact_wedding/" target="_blank" style="background: #ddd8d7;">資料請求・お問い合わせ</a></div>
				<div><a class="text-sm sm:text-base p-2 sm:p-4 text-center block mb-2" href="/wedding/fair/" style="color: #fff;background: #948143;">ブライダルフェア一覧</a></div>
			</div>

			<div class="my-4">
				<p class="notoserifjp text-center" >
					〒020-0033 <br class="sm:hidden">岩手県盛岡市盛岡駅前北通2番27号 <br class="sm:hidden">ホテルメトロポリタン盛岡NEW WING
					<br class="sm:hidden"><a  class="inline-block mx-4" href="https://morioka.metropolitan.jp/access/" target="_blank" rel="noopener noreferrer">
						<img src="/wedding/_assets/map.svg" alt="map" class="inline-block" style="height: 1rem;margin-bottom: 2px;">
						アクセス・駐車場 ↗</a><br>
					お電話でお問い合わせ・ご予約<br class="sm:hidden"> : <span class="notoserifjp" style="font-size: 1.5rem;">
						<img src="/wedding/_assets/phone.svg" alt="phone" class="inline-block" style="height: 1.5rem;margin-bottom: 4px;">
						<a href="tel:019-629-2613">
							019-629-2613</a></span>（ブライダル直通）<br>
					<img src="/wedding/_assets/mail.svg" alt="mail" class="inline-block" style="height: 1rem;">
					<a href="mailto:metro@mtb.jregroup.ne.jp">
						metro@mtb.jregroup.ne.jp</a>
				</p>
			</div>

		</div>
	</div>
</div>


<div style="max-width: 1200px;" class="mx-auto">

	<div class="sm:flex justify-center mx-auto py-12 hidden">
		<div class="mr-12 w-fit">
		
			<img src="/wedding/_assets/top_footer.svg" alt="TOP" class="h-6 my-2" >

			<a  href="/wedding/"  class="block ml-2">ウエディングトップページ</a>
			<a  href="/wedding/#news"  class="block ml-2 mb-12">新着情報</a>

			
			<img src="/wedding/_assets/concept_footer.svg" alt="CONCEPT" class="h-6 my-2" >

			<a  href="/wedding/concept/"  class="block ml-2 mb-12">ホテルメトロポリタン盛岡で叶うこと</a>

			<p class="notoserifjp" style="color: #948143;letter-spacing: calc(1em*75/1000);font-size: 1.5rem;">
				
			</p>
			<img src="/wedding/_assets/bridalfair_footer.svg" alt="BRIDAL FAIR" class="h-6 my-2" >

			<a  href="/wedding/fair/"  class="block ml-2">ブライダルフェア</a>

		</div>
		<div class="mr-12 w-fit">

			
			<img src="/wedding/_assets/ceremony_footer.svg" alt="CEREMONY" class="h-6 my-2" >

			<a  href="/wedding/ceremony/"  class="block ml-2 mb-12">挙式</a>

			
			<img src="/wedding/_assets/banquet_footer.svg" alt="BANQUET" class="h-6 my-2" >

			<a  href="/wedding/banquet/"  class="block ml-2 mb-12">披露宴</a>

		
			<img src="/wedding/_assets/cuisine_footer.svg" alt="CUISINE" class="h-6 my-2" >

			<a  href="/wedding/cuisine/"  class="block ml-2">お料理・ウエディングケーキ</a>

		</div>
		<div class="mr-12">
			
			<img src="/wedding/_assets/plan_footer.svg" alt="PLAN" class="h-6 my-2" >

			<a  href="/wedding/plan/"  class="block ml-2 mb-12">プラン・特典</a>

			
			<img src="/wedding/_assets/report_footer.svg" alt="REPORT" class="h-6 my-2" >

			<a  href="/wedding/report/"  class="block ml-2 mb-12">ウエディングレポート</a>

			
			<img src="/wedding/_assets/engagement_footer.svg" alt="ENGAGEMENT" class="h-6 my-2" >

			<a  href="/wedding/engagement/"  class="block ml-2">お顔合わせ・ご結納</a>

		</div>
		<div>
			<a class="py-4 px-12 text-center block mb-4" href="/wedding/guests/" style="background: #ddd8d7;">ご列席の皆様へ</a>
			<a class="py-4 px-12 text-center block mb-4" href="/wedding/contracts/" target="_blank" style="background: #ddd8d7;">
				<img src="/wedding/_assets/key.svg" alt="" class="inline-block" style="height: 1rem;margin-bottom: 4px;">
				ご成約者様ページ</a>
		</div>
	</div>
</div>



<div class="py-4" style="background: #f8f3e9;">
	<div class="mx-2 sm:mx-16">
		<div class="sm:flex justify-center" >
			<div class="self-center p-4">
				<a href="https://morioka.metropolitan.jp" target="_blank" rel="noopener noreferrer">
					<img src="https://morioka.metropolitan.jp/common/img/common/logo_header1.svg" alt="HOTEL METROPOLITAN MORIOKA" class="m-auto">
				</a>
			</div>
			<div class="self-center px-0 py-4 sm:p-4 text-center sm:text-left">
				<p class="notoserifjp text-sm sm:text-base" style="line-height: 1.8;">【本館】<br class="sm:hidden">〒020-0034 岩手県盛岡市盛岡駅前通1番44号
					<br>
					【NEWWING】<br class="sm:hidden">〒020-0033 岩手県盛岡市盛岡駅前北通2番27号<br>
					TEL : 019-625-1211（大代表）
				</p>
			</div>
		</div>
	</div>
</div>

<div style="max-width: 1200px;" class="mx-auto mt-12">
	<div class="mx-1 sm:mx-16">





		<!-- Slider main container -->
		<div class="swiper banner">
			<!-- Additional required wrapper -->
			<div class="swiper-wrapper" >
				<!-- Slides -->

				<div class="swiper-slide" >
					<a href="https://www.weddingpark.net" target="_blank" rel="noopener noreferrer" >
						<img src="/wedding/_assets/bnr_weddingpark.jpg" alt="WEDDING PARK" style="width: 100%;">
					</a>
				</div>
				<div class="swiper-slide" >
					<a href="http://www.iwate-bridal-center.com" target="_blank" rel="noopener noreferrer" >
						<img src="/wedding/_assets/bnr_ibc.jpg" alt="iwate bridal center" style="width: 100%;">
					</a>
				</div>
				<div class="swiper-slide" >
					<a href="http://hiratoya-bf.co.jp" target="_blank" rel="noopener noreferrer" >
						<img src="/wedding/_assets/bnr_hiratoya.jpg" alt="ヒラトヤブライダルファッション" style="width: 100%;">
					</a>
				</div>

			</div>
			<div class="swiper-button-prev"></div>
			<div class="swiper-button-next"></div>

			<div class="swiper-pagination"></div>

		</div>



	</div>
</div>


<div class="text-center my-4 mx-1 sm:mx-16">

	<a  class="inline-block mr-4 text-sm" href="https://www.jre-hotels.jp/" target="_blank" rel="noopener noreferrer">JR東日本ホテルズ ↗</a>
	<a  class="inline-block mr-4 text-sm" href="https://fesan-jp.com/mtb/company/privacy.php" target="_blank" rel="noopener noreferrer">プライバシーポリシー ↗</a>
	<a  class="inline-block mr-4 text-sm" href="https://fesan-jp.com/mtb/company/cookiepolicy.php" target="_blank" rel="noopener noreferrer">クッキーポリシー ↗</a>
	<a  class="inline-block mr-4 text-sm" href="javascript:Bootstrapper.gateway.openModal();">クッキーの詳細設定 ↗</a>
	<a  class="inline-block mr-4 text-sm" href="https://fesan-jp.com/mtb/" target="_blank" rel="noopener noreferrer">環境理念・会社概要 ↗</a>
	<a  class="inline-block mr-4 text-sm" href="https://morioka.metropolitan.jp/access/" target="_blank" rel="noopener noreferrer">アクセス ↗</a>
	<a  class="inline-block mr-4 text-sm" href="/wedding/kiyaku.pdf" target="_blank">ご婚礼規約（PDF） ↗</a>

</div>
<div class="p-2 sm:p-4" style="background: #f8f3e9;">
	<h6 class="text-center text-xs" >&copy; HOTEL METROPOLITAN MORIOKA WEDDING｜JR-EAST HOTELS. All Rights Reserved.</h6>
</div>

<div class="block sm:hidden" style="position: sticky;bottom: 0;z-index: 90000;">
	<a id="fairbtn22" href="/wedding/fair/" class="p-2 block text-center" style="background: #948143;color: #fff;">ブライダルフェア最新情報</a>
	<div id="bottombtnset" class="btnUp">
		<div  class="grid grid-cols-2 gap-0">
			<a class="py-2 text-center block" href="/wedding/guests/" style="background: #ddd8d7;font-size: 14px;">ご列席の皆様へ</a>
			<a class="py-2 text-center block" href="/wedding/contracts/" target="_blank" style="background: #ddd8d7;font-size: 14px;">
				<img src="/wedding/_assets/key.svg" alt="" class="inline-block" style="height: 1rem;margin-bottom: 4px;">
				ご成約者様ページ</a>
		</div>
	</div>
</div>

</div>
<!--/===wrapper===-->


<!--======-->
<!--======-->
<!--======-->

<!--======-->
<!--======-->
<!--======-->



<div id="headbar" class="fixed left-0 top-0 w-full" style="z-index: 88888;">

	<div class="flex">
		<div class="openbtn" style="z-index: 99999;">
			<div class="openbtn-area"><span></span><span></span><span></span></div>
		</div>
		<a id="title1" class="visible sm:invisible self-center ml-4 text-xs" href="/wedding/">
			HOTEL METROPOLITAN MORIOKA WEDDING</a>
	</div>
	
	

	<div id="downmenu" class="visible sm:invisible menuUp pl-20 pt-4 pr-4" style="background: #f8f3e9;height: 100vh;">

		<div class="my-2" style="border-bottom: 1px solid #beb2aa;"></div>
		<a class="flex justify-between" href="/wedding/">
			<p class="inline-block mr-2" style="letter-spacing: calc(1em*75/1000);">
				TOP
			</p>
			<span href="/wedding/"  class="self-center" style="font-size: 10px;">ウエディングトップページ
		</a>
		</a>
		<div class="my-2" style="border-bottom: 1px solid #beb2aa;"></div>

		<a class="flex justify-between" href="/wedding/concept/">
			<p class="inline-block mr-2" style="letter-spacing: calc(1em*75/1000);">
				CONCEPT
			</p>
			<span href="/wedding/concept/" class="text-right self-center" style="font-size: 10px;">ホテルメトロポリタン盛岡で叶うこと</span>
		</a>

		<div class="my-2" style="border-bottom: 1px solid #beb2aa;"></div>
		<a class="flex justify-between" href="/wedding/fair/">
			<p class="inline-block mr-2" style="letter-spacing: calc(1em*75/1000);">
				BRIDAL FAIR
			</p>
			<span href="/wedding/" class="self-center" style="font-size: 10px;">ブライダルフェア</span>
		</a>

		<div class="my-2" style="border-bottom: 1px solid #beb2aa;"></div>
		<a class="flex justify-between" href="/wedding/ceremony/">
			<p class="inline-block mr-2" style="letter-spacing: calc(1em*75/1000);">
				CEREMONY
			</p>
			<span href="/wedding/" class="self-center" style="font-size: 10px;">挙式</span>
		</a>

		<div class="my-2" style="border-bottom: 1px solid #beb2aa;"></div>
		<a class="flex justify-between" href="/wedding/banquet/">
			<p class="inline-block mr-2" style="letter-spacing: calc(1em*75/1000);">
				BANQUET
			</p>
			<span href="/wedding/" class="self-center" style="font-size: 10px;">披露宴</span>
		</a>

		<div class="my-2" style="border-bottom: 1px solid #beb2aa;"></div>
		<a class="flex justify-between" href="/wedding/cuisine/">
			<p class="inline-block mr-2" style="letter-spacing: calc(1em*75/1000);">
				CUISINE
			</p>
			<span href="/wedding/" class="self-center" style="font-size: 10px;">お料理・ウエディングケーキ</span>
		</a>

		<div class="my-2" style="border-bottom: 1px solid #beb2aa;"></div>
		<a class="flex justify-between" href="/wedding/plan/">
			<p class="inline-block mr-2" style="letter-spacing: calc(1em*75/1000);">
				PLAN
			</p>
			<span href="/wedding/" class="self-center" style="font-size: 10px;">プラン・特典</span>
		</a>

		<div class="my-2" style="border-bottom: 1px solid #beb2aa;"></div>
		<a class="flex justify-between" href="/wedding/report/">
			<p class="inline-block mr-2" style="letter-spacing: calc(1em*75/1000);">
				REPORT
			</p>
			<span href="/wedding/" class="self-center" style="font-size: 10px;">ウエディングレポート</span>
		</a>

		<div class="my-2" style="border-bottom: 1px solid #beb2aa;"></div>
		<a class="flex justify-between" href="/wedding/engagement/">
			<p class="inline-block mr-2" style="letter-spacing: calc(1em*75/1000);">
				ENGAGEMENT
			</p>
			<span class="self-center" style="font-size: 10px;">お顔合わせ・ご結納</span>
		</a>
		<div class="my-2" style="border-bottom: 1px solid #beb2aa;"></div>

		<a class="flex justify-between" href="/wedding/faq/#contact">
			<p class="inline-block mr-2" style="letter-spacing: calc(1em*75/1000);">
				CONTACT
			</p>
			<span class="self-center" style="font-size: 10px;">資料請求・お問い合わせ・アクセス</span>
		</a>
		<div class="my-2" style="border-bottom: 1px solid #beb2aa;"></div>

	</div>

	<div id="title2" class="fixed left-5 sm:left-4 top-20" style="z-index: 23000;">
		<strong class="block text-xs sm:text-base" style="writing-mode: vertical-rl;font-weight: normal;">
			<span id="pagename"></span>
				<span class="invisible sm:visible inline-block py-1">｜</span>
			<a href="/wedding/" style="mix-blend-mode:difference;" class="invisible sm:visible">
				HOTEL METROPOLITAN MORIOKA WEDDING</a>
		</strong>
	</div>



	<div id="menu" class="fixed left-16 top-0 p-8 menuUp" style="background: rgba(0,0,0,.3);min-height: 100vh;z-index: 22000;display: ;">
		<a href="/wedding/">
			<img src="/wedding/_assets/rogo_white.svg" alt="" class="mx-auto block" style="height: 25vh;margin-top: 2vh;margin-bottom: 8vh;"></a>

		<!-- <p class="notoserifjp" style="color: #fff;letter-spacing: calc(1em*75/1000);font-size: 1.5rem;">
					TOP
				</p>
				<a href="" target="_blank" rel="noopener noreferrer" class="block">ウエディングトップページ</a>
				<a href="" target="_blank" rel="noopener noreferrer" class="block mb-6">ニュース・新着情報</a> -->
		<ul class="wmn">
			<li>
				<a href="/wedding/concept/" class="g--1">CONCEPT
					<span class="wmn1">ホテルメトロポリタン盛岡で叶うこと</span>
				</a>
			</li>
			<li>
				<a href="/wedding/fair/" class="g--1">BRIDAL FAIR
					<span class="wmn1">ブライダルフェア</span>
				</a>
			</li>
			<li>
				<a href="/wedding/ceremony/" class="g--1">CEREMONY
					<span class="wmn1">挙式</span>
				</a>
			</li>
			<li>
				<a href="/wedding/banquet/" class="g--1">BANQUET
					<span class="wmn1">披露宴</span>
				</a>
			</li>
			<li>
				<a href="/wedding/cuisine/" class="g--1">CUISINE
					<span class="wmn1">お料理・ウエディングケーキ</span>
				</a>
			</li>
			<li>
				<a href="/wedding/plan/" class="g--1">PLAN
					<span class="wmn1">プラン・特典</span>
				</a>
			</li>
			<li>
				<a href="/wedding/report/" class="g--1">REPORT
					<span class="wmn1">ウエディングレポート</span>
				</a>
			</li>
			<li>
				<a href="/wedding/engagement/" class="g--1">ENGAGEMENT
					<span class="wmn1">お顔合わせ・ご結納</span>
				</a>
			</li>
			<li>
				<a href="/wedding/faq/#contact" class="g--1">CONTACT
					<span class="wmn1">資料請求・お問い合わせ・アクセス</span>
				</a>
			</li>
		</ul>

	</div>


</div>


<div id="fairbtn1" class="hidden sm:block fixed sm:flex sm:right-0 sm:items-center sm:top-0" style="height: 100vh;z-index: 88888;">
	<a id="fairbtn11" href="/wedding/fair/" class="w-full p-4 sm:inline-block" style="background: #948143;color: #fff;writing-mode: vertical-rl;mix-blend-mode:luminosity;">ブライダルフェア最新情報</a>
</div>

<div id="btn" class="fixed right-4 bottom-4 btnUp" style="z-index: 88888;">
	<div  class="flex" >
		<a href="/wedding/guests/" class="py-4 px-8 m-2 text-white text-center btn--type1">ご列席の皆様へ</a>
		<a href="/wedding/contracts/" target="_blank" class="py-4 px-8 m-2 text-white text-center btn--type1" >
			<img src="/wedding/_assets/key_white.svg" alt="" class="inline-block" style="height: 1rem;margin-bottom: 4px;">
			ご成約者様ページ</a>
	</div>
</div>


<!-- モーダル -->
<div class="modal__wrapper">
	<div class="overlay"></div>
	<!-- <div class="modal">モーダル（オーバーレイ）表示</div> -->
</div>









<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script>
	/*loading*/
	document.addEventListener('DOMContentLoaded', function() {
		$("#splash").delay(500).fadeOut(800);
	});

	/*menu*/
	$(".openbtn").click(function() {
		$(this).toggleClass('active');
		// $("#modal2").toggleClass('active');
		$("#menu").toggleClass('active');
		$("#btn").toggleClass('active');
		$("#downmenu").toggleClass('active');
		$("#bottombtnset").toggleClass('active');
		$("#fairbtn1").toggleClass('inactive');
		$("#fairbtn22").toggleClass('inactive');
		$("#toplogo").hide();
	});
</script>

<script>
	const body = document.body; // body 要素
	const modal = document.querySelector('.modal__wrapper'); // モーダル要素
	const overlay = document.querySelector('.overlay'); // モーダルの背景の要素
	const openbtn = document.querySelector('.openbtn'); // モーダルを表示させるボタン

	function onmodal() {
		body.style.top = `-${window.scrollY}px`; // スクロール量を取得して body の高さとする
		body.classList.add('backgroundfix'); // body 要素を固定してスクロールできないようにする
		modal.classList.add('displayon'); // モーダルを表示
	}

	function offmodal() {
		modal.classList.remove('displayon'); // モーダルを非表示に
		body.classList.remove('backgroundfix'); // body の固定を解除
		const top = body.style.top; // body の高さを取得
		const topHeight = top.replace('px', '').replace('-', ''); // top から - と px を除去
		window.scrollTo(0, topHeight); // topHeight の高さまで移動
	}

	$(function() {
		$('.openbtn').click(function() {
			if ($("#menu").is(':hidden')) {
				//close
				offmodal();
			} else {
				//open
				onmodal();
			}
		});
	});
</script>

<script>
	/*anchorscroll*/
	var Ease = {
		easeInOut: function(t) {
			return t < .5 ? 4 * t * t * t : (t - 1) * (2 * t - 2) * (2 * t - 2) + 1;
		}
	}
	var duration = 500;
	window.addEventListener('DOMContentLoaded', function() {
		var smoothScrollTriggers = [].slice.call(document.querySelectorAll('a[href^="#"]'));
		smoothScrollTriggers.forEach(function(smoothScrollTrigger) {
			smoothScrollTrigger.addEventListener('click', function(e) {
				var href = smoothScrollTrigger.getAttribute('href');
				var currentPostion = document.documentElement.scrollTop || document.body.scrollTop;
				var targetElement = document.getElementById(href.replace('#', ''));
				if (targetElement) {
					e.preventDefault();
					e.stopPropagation();
					var targetPosition = window.pageYOffset + targetElement.getBoundingClientRect().top - 115;
					var startTime = performance.now();
					var loop = function(nowTime) {
						var time = nowTime - startTime;
						var normalizedTime = time / duration;
						if (normalizedTime < 1) {
							window.scrollTo(0, currentPostion + ((targetPosition - currentPostion) * Ease.easeInOut(normalizedTime)));
							requestAnimationFrame(loop);
						} else {
							window.scrollTo(0, targetPosition);
						}
					}
					requestAnimationFrame(loop);
				}
			});
		});
	});
</script>
<script src="/wedding/_assets/swiper-bundle.min.js"></script>
<script>
	$(".switch").click(function() {
		$(this).find("span.plus").toggleClass('active');
		$(this).next(".open").toggleClass('active');
	});

	$(document).ready(function() {

		swiper = new Swiper('.banner', {
			// 768px以下：スマホの場合
			slidesPerView: 1.5,
			spaceBetween: 16,
			loop: true,
			centeredSlides: true,
			direction: "horizontal",
			speed: 6000,
			// autoplay: {
			// 	delay: 5000,
			// },
			pagination: {
				el: '.swiper-pagination', //ページネーションの要素
				type: 'bullets', //ページネーションの種類
				clickable: true, //クリックに反応させる
			},
			navigation: {
				nextEl: '.swiper-button-next',
				prevEl: '.swiper-button-prev',
			},
			scrollbar: {
				el: '.swiper-scrollbar',
			},
			breakpoints: {
				// 768px以上の場合
				768: {
					slidesPerView: 3,
					spaceBetween: 36,
				},
			},
		});



	});
</script>