---
---

<!DOCTYPE html>
<html lang="ja">

<head>
   {% include _head.inc.htm %}
  
  <title>プラン・特典｜{{ site.meta1 }}</title>
  
  <link rel="canonical" href="https://morioka.metropolitan.jp/wedding{{ page.url }}">
  <meta name='description' content='{{ site.description }}'>

	<style>
		.planbox {
			display: none;
		}
		.planbox .active {
			display: block;
		}
		.title--pink {
			color: #fff;background: #cf928f;
		}
	</style>

</head>
	  
	  <body>
	   {% include _header.inc.htm %}

	<h2 class="text-center">
		<img src="/wedding/assets/wing_gold.svg" alt="ホテルメトロポリタン盛岡ウエディング" class="mt-16 mb-2 mx-auto w-1/4 sm:w-1/12" >
		<p class="notoserifjp text-center mb-4 sm:mb-0 text--gold" >
			プラン・特典
		</p>
		<img src="/wedding/assets/plan.svg" alt="ホテルメトロポリタン盛岡ウエディング" class="hidden sm:block mx-auto sm:h-16 mb-16" >
	</h2>
<!--==========-->

	<div class="p-4 sm:p-16" style="background: #f8f3e9;">
		<div style="max-width: 1200px;" class="mx-auto">

<!--==========-->
<!--==========-->
<!--==========-->
			<p class="notoserifjp text-center p-2 title--pink" style="">
				おすすめプラン
			</p>
<!--==========-->
			<div class="p-4 sm:p-16 bg-white mb-4 sm:mb-16">
				<p class="notoserifjp text-center mb-8 text-xl sm:text-2xl" >
					PHOTO WEDDING PLAN
					〜フォトウエディングプラン〜
				</p>
				<div class="p-4" style="background: #f8f3e9;">
					<p class="notoserifjp text-center" >
						料金
					</p>
					<p class="notoserifjp text-center text-sm sm:text-base" >
						洋装プラン <strong class="notoserifjp text-lg sm:text-xl" >999,000</strong>円〜 ／ <strong class="notoserifjp text-lg sm:text-xl" >99</strong>名
					</p>
					<p class="notoserifjp text-center text-sm sm:text-base" >
						洋装プラン <strong class="notoserifjp text-lg sm:text-xl" >999,000</strong>円〜 ／ <strong class="notoserifjp text-lg sm:text-xl" >99</strong>名
					</p>
				</div>

				<div class="sm:flex my-8">
					<div class="w-full sm:w-5/12 mr-8">
						<p class="notoserifjp" >
							「写真だけでも残したい…」そんなお二人のために


						</p>
						<hr class="my-2 divider--type1" style="">
						<p class="notoserifjp mb-8 text-sm sm:text-base" >
							詳しくはスタッフまでお問合せください。
						</p>
						<p class="notoserifjp" >
							適用期間
						</p>
						<hr class="my-2 divider--type1" style="">
						<p class="notoserifjp mb-8 text-sm sm:text-base" >
							詳しくはスタッフまでお問合せください。
						</p>
					</div>
					<div class="w-full sm:w-7/12"><img src="https://morioka.metropolitan.jp/wedding/plan/_img/pwp1.jpg" alt="ホテルメトロポリタン盛岡ウエディング" style="width: 100%;"></div>
				</div>


				<div>
					<div class="planbox">
						<p class="notoserifjp" >
							プランに含まれるもの
						</p>
						<hr class="my-2 divider--type1" style="">
						<p class="notoserifjp mb-8 text-sm sm:text-base" >
							●料理：日本料理・西洋料理・中国料理よりチョイス <br>
							●飲物：フリードリンク（内容はコースにより異なります）<br>
							●消費税、サービス料 <br>
						</p>

						<p class="notoserifjp" style="color: #9f1730;">
							特典
						</p>
					<hr class="my-2 divider--type2" style="">
	<p class="notoserifjp mb-8 text-sm sm:text-base" style="color: #9f1730;">
							ブライズルーム使用料、ご両家親族控室使用料無料
						</p>

						<div class="sm:flex justify-center mt-16 text-sm sm:text-base">
							<div class="text-center mx-8 sm:w-1/3 my-2 btn--type2gold"><a class="py-4 text-center block" href="#" style="">プランのご相談</a></div>
							<div class="text-center mx-8 sm:w-1/3 my-2"><a class="py-4 text-center block btnbg--gray" href="https://morioka.metropolitan.jp/contact_wedding/index.php" target="_blank" >資料請求･お問い合わせ</a></div>
						</div>
						
					

						<p class="notoserifjp text-center my-12 text-sm sm:text-base" >
							お電話でのご予約・お問い合わせ
							<br class="sm:hidden">
							<img src="/wedding/assets/phone.svg" alt="ホテルメトロポリタン盛岡ウエディング" class="inline-block" style="height: 1.5rem;margin-bottom: 4px;">
							<a href="tel:019-629-2613" class="text-lg sm:text-xl">
								019-629-2613</a>
							（ブライダル直通）
						</p>
					
					</div>

					<div class="plantoggle my-8 p-4 w-4/5 sm:w-1/3 mx-auto text-center text-sm sm:text-base cursor-pointer btnbg--gray" style="">
						このプランを詳しく見る
					</div>
				</div>
			</div>

<!--==========-->
<!--==========-->
<!--==========-->

<!--==========-->
<!--==========-->
<!--==========-->



		</div>
	</div>




<!--==========-->
<!--==========-->
<!--==========-->
   {% include _footer.inc.htm %}


	<script>
		$(function() {
			$('#pagename').text('PLAN');
			
			$('.plantoggle').prevAll().hide();
			$('.plantoggle').click(function() {
				if ($(this).prevAll().is(':hidden')) {
					$(this).prevAll().slideDown();
					$(this).text('詳細を閉じる ×').addClass('close');
				} else {
					$(this).prevAll().slideUp();
					$(this).text('このプランを詳しく見る').removeClass('close');
				}
			});
		});
	</script>
	
	  </body>
	</html>